.menu {
    position: fixed;
    background: var(--black);
    height: calc(100vh);
    width: 100%;
    transition: all ease 0.4s;
    display: flex;
    justify-content: center;
    z-index: -1;
    top: 0;
  }
  
  .menu__elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu__elements li {
    margin-bottom: 0.5em;
    font-size: 3.5em;
    font-weight: 700;
  }
  .hide {
    left: -100%;
  }
  .show {
    left: 0;
  }
  .menu li {
    text-decoration: none;
    color: var(--white);
  }
  .menu a{
    text-decoration: none;
  }